html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0}
body{
	font-size: 16px;
}
.pull_left{
	float:left;
}
.pull_right{
	float:right;
}
.clearfix{
	clear:both;
}
.center{
	display: block;
	margin: auto;
	width:225px;
}



.container{
	width:800px;
	margin:0 auto;
}

.title{
	margin: 20px auto;
}
.title h2{
	text-align: center;
	color:red;
}
.sign_up{
	margin:20px 50px 30px 200px;
	line-height: 25px;
}
.sign_up label{
	display: inline-block;
	width: 100px;
	margin: 10px;
	text-align: right;
}
.sign_up input{
	width: 200px;
	height: 25px;
	padding-left:5px; 
	border:1px solid #1b63e8;
}
.sign_up input[type="submit"]{
	width: 100px;
	margin-left:120px; 
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-color: #1b63e8;
}
.sign_up #user_message{
	margin-top: 20px;
	margin-left:50px;
	height: 30px;
	color:orange;
	font-size: 20px;
	font-weight: bold;
}

.game_area{
	/*width:700px;*/
	margin: 15px 36px;
}
.game_area .you, .computer{
	width:300px;
	height:225px;
	border:1px solid #8db5f4;
	background-color:#8db5f4;
	position: relative;
}
.game_area span{
	display: block;
	width:80px;
	text-align: center;
	left:50%;
	bottom:-16px;
	margin-left:-40px;
	position: absolute;
	z-index:10;
}

.game_area .vs{
	width:60px;
	height:225px;
	line-height: 225px;
	font-size: 30px;
	font-weight: bold;
	/*border:1px solid #ccc;*/
	margin:0 30px;
	text-align: center;
}
.game_area .message{
	margin:0 auto;
	width:727px;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-size:20px;
	color: red;
	font-weight: bold;
	border:1px solid #bbb;
	background-color: #8db5f4;
}


.your_choice{
	height: 60px;
	background-color: #e0efbf;
	font-size: 20px;
	margin-bottom:15px; 
}
.your_choice .option label{
	display: inline-block;
	/*width:100px;*/
	height: 60px;
	line-height: 60px;
	margin-left:100px;
}
.your_choice .option select{
	display: inline-block;
	width:80px;
	height: 40px;
	padding-left: 8px;
	border:1px solid #1b63e8;
} 
.your_choice .option input{
	display: inline-block;
	width:80px;
	height: 40px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-color: #1b63e8;
}
.your_choice .select{
	margin-right:100px;
	height:60px;
	line-height: 60px;
}
.your_choice .select span{
	color: red;
}

.game_result{
	margin-top:30px;
}
.game_result p{
	margin:0 auto;
	height: 60px;
}
.game_result p button{
	display:none;
	margin: 0 auto;
	width:200px;
	height:50px;
	background-color: #1b63e8;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color:#fff;
}
.game_result div{
	display: none;
	margin-left:200px;
	margin-bottom:50px; 
}

.game_result div table, th, td{
	border: 1px solid black;
}
.game_result div table{
	border-collapse: collapse;
}